<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    
    <script src="{% static 'JavaScript/validate.js' %}"></script>
    <script src="{% static 'JavaScript/main.js' %}"></script>

    <title>Crear</title>
    <style>
        label.error{
            color:red;
            font: size 0.8em;
            width: 200px;
        }
    </style>
    <script>
        $(function(){
            $("#formulario").validate({
                rules:{
                    patente:"required",
                    marca:"required",
                    modelo:"required",
                    categoria:"required",
                     

                },
                messages:{
                    patente:{
                        required:'Ingrese una patente',
                    },
                    marca:{
                        required:'Ingrese una marca',
                    },
                    modelo:{
                        required:'Ingrese un modelo',
                    },
                    categoria:{
                        required:'Seleccione una categoria',
                    },
                    imagen:{
                        required:'Seleccione una foto',
                    },
                }
            })
            
        })
    </script>
</head>
<body>

    

    <div class="container">
        <h2>Crear Producto</h2>
        <form method="POST" id="formulario" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <label for="{{ productoform.field.name}}">
                    {{productoform.codigoID.label}}
                </label>
                {{ productoform.codigoID}}
            </div>

            <div class="row">
                <label for="{{ productoform.field.name}}">
                    {{productoform.marca.label}}
                </label>
                {{ productoform.marca}}
            </div>

             <div class="row">
                <label for="{{ productoform.field.name}}">
                    {{productoform.descripcion.label}}
                </label>
                {{ productoform.descripcion}}
            </div>


            
            
            <div class="row">
                <label for="{{ productoform.field.name}}">
                    {{productoform.precio.label}}
                </label> 
                {{ productoform.precio}}
            </div>
            <div class="row">
                <label for="{{ productoform.field.name}}">
                    {{productoform.stock.label}}
                </label>
                {{ productoform.stock}}
            </div>
            
            <div class="row">
                <label for="{{ productoform.field.name}}">
                    {{productoform.imagen.label}}
                </label>
                {{ productoform.imagen}}
            </div> 


            <br>
            <br>
            <input type="submit" class="btn btn-success" value="Enviar">
            <a href="{% url 'index' %}" class="btn btn-primary">Inicio</a>
        </form>
    </div> 
</body>
</html>