<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    
    <!-- <script src="JavaScript/validate.js"></script> -->
    <script src="JavaScript/api.js"></script>
</head>

<body>
   
    {% include "navbar.html" %}
    

    <div class="galeria-productos text-center" style="margin: 2rem 0;">
        
        <div id="productos-row" class="container"  style="margin-bottom: 2rem;" >
            
            <div class="row">

                <div class="col-9">
                    <div class="row">
                        {% for producto in productos %}
                        <div class="col-lg-4 col-12 col-md-6" style="margin-bottom: 1rem;">
                            <div class="card h-100" style="width: auto;">
                                {% if producto.imagen %}
                                <img class="card-img-top" src="{{ producto.imagen.url }}" alt="Card image cap">
                                {% else %}
                                <img src="{% static 'img/sinfoto.jpg' %}" class="card-img-top mx-auto">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{producto.marca}}</h5>
                                        <p class="card-text" style="min-height: 3rem;">{{producto.descripcion}}</p>
                                        <p class="card-text">${{producto.precio}}</p>
                                        <p class="card-text">Stock:{{producto.stock}}</p>
                                        <a href="{% url 'agregar' producto.codigoID  %}" class="btn btn-primary">Agregar al Carro</a>
                                        
                                </div>
                            </div>
                        
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-3">
                    {% include "carrito.html" %}
                </div>

            </div>
            <!-- comienzo de generacion de productos -->
            
            
            
            <!-- fin de generacion de productos -->
            
        
        </div>
    </div>
        
    
    
    
    
    <!-- INICIO FOOTER -->
    
    {% include "footer.html"%}
    <!-- FIN FOOTER-->


    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  

</body>
